body {
  min-width: 1200px;
}
a {
  color: var(--secundary-color);
  transition: color 300ms;
}

a:hover {
  color: var(--primary-color);
}

h1 {
  font-weight: bold;
  text-align: center;
  font-size: 3em;
}

.error {
  padding: 1rem;
  font-size: 2rem;
  font-weight: bold;
  font-family: var(--tipo-secundaria);
  text-align: center;
  color: var(--blanco);
  background-color: var(--primary-color);
}

.loader {
  width: 4rem;
  margin: 1rem auto;
  display: block;
}
