:root {
  --negro: #292626;
  --blanco: #faf9f5;
  --primary-color: #b52c33;
  --secundary-color: #9c8e2b;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*body {*/
/*min-width: 1200px;*/
/*}*/

h1 {
  text-align: center;
  color: var(--secundary-color);
  grid-area: title;
  font-weight: bold;
  /*text-align: center;*/
  font-size: calc(2.5rem + 1vw);
}
h1 a {
  text-decoration: none;
  color: inherit;
}
.error {
  padding: 1rem;
  font-size: 2rem;
  font-weight: bold;
  font-family: var(--tipo-secundaria);
  text-align: center;
  color: var(--blanco);
  background-color: var(--primary-color);
}

.loader {
  width: 4rem;
  margin: 1rem auto;
  display: block;
}

.header {
  display: grid;
  grid-template:
    'title title' 3rem
    'nav srch' 1.5rem
    / 2fr 1fr;
  align-items: end;
  padding: 0.5rem;
  position: sticky;
  top: 0;
  /*text-align: center;*/
  background-color: var(--primary-color);
}
.menu {
  grid-area: nav;
  display: flex;
  /*align-items: center;*/
  align-self: center;
  gap: 5%;
  margin: 10%;
  font-size: calc(0.6rem + 1vw);
}
.menu a {
  color: var(--blanco);
  transition: color 300ms;
  text-decoration: none;
  justify-self: center;
}
.menu a:hover {
  color: var(--secundary-color);
}
.form-search {
  grid-area: srch;
  justify-self: end;
  margin: 0 1rem;
}

.form-search input {
  width: 100%;
  /*display: block;*/
  background-color: var(--blanco);
  opacity: 0.5;
  outline: none;
  /*margin: auto;*/
  padding: 0.25rem;
  font-size: calc(0.5rem + 1vw);
  /*font-size: 1rem;*/
  box-shadow: 0 0 10px var(--secundary-color), inset 0 0 1px #0008;
  border-radius: 5px;
}

.grid-fluid {
  margin: 1rem auto;
  max-width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.post-card {
  margin: 1rem auto;
  padding: 1rem;
  width: 80%;
  background-color: var(--secundary-color);
}
.post-card img {
  width: 100%;
}

.post-card p {
  display: flex;
  justify-content: space-between;
}

.post-card a {
  text-decoration: none;
  color: var(--blanco);
}
